{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-orange">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">

        <span class="brand-text font-weight-light"> </span>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>